html {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 50pt;
    margin: 25px;
}

h2 {
    font-size: 20pt;
}

form {
    font-size: 20pt;
    margin-top: 25px;
    margin-bottom: 10px;
}

input {
    font-size: 20pt;
}

#search-button {
    font-size: 20pt;
    background-color: goldenrod;
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#search-button:hover {
    border: 3px solid white;
    font-size: 22pt;
}

.history-button {
    background-color: teal;
    color: white;
    font-size: 20pt;
    margin: 5pt;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.history-button:hover {
    border: 3px solid white;
    font-size: 22pt;
}

img {
    margin: 5px;
}

#message {
    color: red;
    margin: 5px;
}

#instructions {
    color: teal;
    margin: 5px;
    font-size: 20pt; 
}